/*COLOR DEL FONDO DEL BODY DE LA PÁGINA Y PARA QUE SE APLIQUE LA MISMA FUENTE A TODO*/
body {
  background-color: #e7e597ff;
  font-family: 'Poppins', sans-serif;
}

/*UN HOVER PARA QUE CUANDO PASE EL RATÓN POR ENCIMA DE LOS ENLACES DEL MENÚ CAMBIEN A ESE COLOR*/
.navbar-nav .nav-link:hover {
    color: #6bd6a1 !important;
}

/*ES LA CASE DONDE ESTAN METIDOS LOS CONTENIDOS DE LAS SECCIONES PARA QUE TENGA BASTANTE ANCHURA Y NO SE QUEDE CORTO Y QUE ESTÉ CENTADO TAMBIÉN*/
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/*OTRO HOVER PARA CAMBIAR EL COLOR DE LOS BOTONES CUANDO ESTOY ENCIMA CON EL RATÓN, LE TENGO QUE METER !IMPORTANT PORQUE SI NO NO ES CAPAZ DE REEMPLAZAR EL ESTILO POR DEFECTO DE LA CLASE DE BOOTSTRAP*/
.boton-cuadrado:hover {
    background-color: #6bd6a1 !important;
}